<a href="{{ link }}" class="button  button--primary h4">{{ title }}</a>

<style>
    .button--primary{
        display:inline-block;
        clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
        padding:1.2rem 5rem
    }
</style>