.main-product {
  width: 100%;;
}
.main-product .main-section{
  width: 100%;
  background-color:var(--color-primary-light-pink);
  display: flex;
  padding: 7.2rem 0 6rem 3.2rem;

}
.product-gallary-container{
  width: 60%;
  display: flex;
  max-height: 60.8rem;
  background-color: orange;

}
.product-gallary {
  height: 100%;
  width: 90%;
}
.mySwiper{
  width: 10%;
  background-color: blue;
  padding: 20.7rem 3rem;
}


.product-gallary img {
  height: 100%;
}

.product-details {
  flex: 1;
  padding: 0rem 15rem 0 4rem;
  height: 100%;
}

.main-product .product-title {
  margin-bottom: 0.8rem;
}

.main-product .product-price {
  margin-bottom: 0.8rem;
}

.main-product .product-description {
  margin-bottom: 1.6rem;
}
.product-type{
  color: var(--color-secondary-pink);
  margin-bottom: 0.5rem;
}
.variant-selection {
  padding: 1rem 1.5rem 0.7rem 1.5rem;
  min-width: 31.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

}
.add-cart-btn {
  background-color: #000;
  padding: 1.4rem 7rem;
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  margin-bottom: 4rem;
  cursor: pointer;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);

}

.product-detail-item{
  margin-bottom: 1rem;
}
.product-details-box{
  margin-bottom: 4rem;
}
.product-description{
  margin-bottom: 3rem;
}
.description-title{
  margin-bottom: 1rem;
}

.product-additional-info-metafields h4{
margin-bottom: 1rem;
}
.product-additional-info-metafields ul{
margin-bottom: 3rem;
}
.product-additional-info-metafields li::before {
  content: "•";
  font-size: 20px;
  padding-right: 10px;
}
.product-additional-info-metafields li {
  font-family: 'minion-pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 1rem;
}
